.bio_section {
  display: flex;
  gap: 10%;
  background: url(../assets/bg-shapes.jpg) no-repeat;
  background-size: cover;
  min-height: 80dvh;
  color: #2ec4b6;
}
img {
  width: 45%;
  object-fit: contain;
  animation: myImageAnimation 3s ease 0s 1 normal forwards;
}
.bio_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: myImageAnimation 3s ease 1s 1 normal forwards;
}
.bio_details h2 {
  font-size: 4em;
  font-family: "Bree Serif", serif;
}
.bio_details h4 {
  padding-top: 2%;
}
.bio_section button {
  width: 30%;
  background-color: #e0411dc5;
  border: 3px solid rgb(255, 255, 255);
  margin: 5% 0;
  padding: 3% 6%;
  font-weight: bolder;
  margin-left: auto;
}
/* Animation for my items
*/
/* The image */
@keyframes myImageAnimation {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 425px) {
  .bio_section {
    flex-direction: column-reverse;
    align-items: center;
    min-height: 55dvh;
  }
  .bio_details {
    width: 75%;
  }
  .bio_details {
    font-size: 70%;
  }
  .bio_section button {
    width: 45%;
  }
  .socials_section {
    width: 8%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 375px) {
  .image_box img {
    width: 100%;
  }
  .image_box .bio_details {
    font-size: 70%;
  }
  .socials_section {
    width: 10%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 320px) {
  .image_box .bio_details {
    font-size: 70%;
  }
  .socials_section {
    width: 10%;
  }
}
