.page_header {
  background-color: #e0411dc5;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  padding-block: 1%;
}
.menu_section {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: end;
}
.ContactMe a {
  border: 2px solid black;
  /* background-color: aliceblue; */
  padding: 10% 20%;
  text-wrap: nowrap;
  text-decoration: none;
}
.ContactMe a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 245, 234);
  border: 2px solid rgb(255, 255, 255);
}
.logo_name a {
  color: rgb(29, 69, 104);
  /* font-size: 400%; */
  font-family: "Bree Serif", serif;
  text-decoration: none;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}
