.skills_list_section {
  display: flex;
  gap: 2%;
}
details {
  width: 50%;
  background-color: aquamarine;
  border: 1px solid black;
  padding: 2% 3%;
}
summary {
  list-style: none;
}
ul li{
  margin-left: 10%;
}