.work {
  display: flex;
  flex-basis: 100%;
  gap: 5%;
  width: 90%;
  margin-inline: auto;
  margin-block: 1%;
  padding: 2%;
}
.work:nth-child(odd) {
  background-color: aliceblue;
}
.work-title {
  flex-basis: 20%;
}
.skills_gained li {
    margin-left: 4%;
}
.skills_gained {
    margin-left: 2%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 425px) {
  /* Make the project cards stack on top of each other when they reach the medium breakpoint */
  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 10%;
    width: 100%;
  }
}
