:root {
  --raisin: #262322;
  --captum: #63372c;
  --burnt: #c97d60;
  --melon: #ffbcb5;
  --almond: #f2e5d7;
  --light-melon: #ffbcb53c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Layout */
.min-width {
  width: 90%;
  margin: 0 auto;
}
.homepage {
  background-color: var(--raisin);
  color: var(--almond);
}
h2 {
  margin: 1% 0;
  font-size: 3.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h4 {
  color: var(--melon);
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
}
strong {
  color: var(--burnt);
}
section {
  min-height: 90dvh;
  padding: 5%;
}
section p {
  margin: 1% 0;
  width: 70%;
  font-size: 1.5em;
}
/* ------------------------------- Header sEction -------------------------------------- */
.header {
  position: sticky;
  top: 0;
  z-index: 900;
  background-color: var(--raisin);
  height: 12dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.logo {
  flex: 1;
}
nav {
  flex: 0.5;
}
nav ul {
  display: flex;
  gap: 5%;
}
nav li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--almond);
}
a:hover {
  font-weight: 600;
  text-decoration: underline;
}
.resume {
  background-color: var(--burnt);
  color: var(--almond);
  padding: 15% 30%;
}
.resume:hover {
  background-color: var(--melon);
  color: var(--captum);
  transition-duration: 1s;
  text-decoration: none;
}
/* ----------------------- Hero Section ----------------------------- */
.hero_section {
  background-color: var(--raisin);
  background-image: url("../src/assests/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}
/* ----------------------------------- About Me Section ----------------------------- */
.about_me {
  margin: 0 auto;
}
.about_me .details {
  display: flex;
  align-items: start;
  gap: 10%;
}
.about-me_bio {
  flex: 2.5;
}
.about-me_bio p {
  width: 95%;
  margin-left: 5%;
  margin-top: 2%;
}
.image_container {
  flex: 1;
  margin: 1%;
  border: 3px solid var(--burnt);
}
img {
  width: 100%;
  transform: translate(-0.5em, -0.5em);
}
/* --------------------------------   Experience Section   ------------------------------- */
.experience li {
  margin: 1% 0;
  list-style: decimal;
  margin-left: 5%;
}
.work-experience {
  display: flex;
  gap: 10%;
  font-size: 1.4em;
}
.job-list {
  flex: 0.4;
}
.job-item {
  padding: 3% 1%;
  border-left: 4px solid var(--captum);
  font-size: 90%;
}
.job-item:hover {
  background-color: var(--light-melon);
  color: var(--melon);
  border-left: 4px solid var(--melon);
  padding-left: 3%;
}
.job-item-active {
  background-color: var(--light-melon);
  color: var(--melon);
  border-left: 4px solid var(--melon);
  padding-left: 3%;
}
.job-description p {
  width: 100%;
}
.job-description {
  flex: 1;
}
.job-description h4 {
  padding: 1%;
  text-align: center;
  background-color: var(--light-melon);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* -------------------------------- Projects Section -------------------------------- */
.projects {
  display: flex;
  margin: 5% 0;
}
.projects a {
  flex: 1;
}
.projects img {
  background-color: var(--almond);
  mix-blend-mode: overlay;
}
img:hover {
  mix-blend-mode: normal;
  transition-duration: 1.5s;
}
.projects-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  text-align: right;
}
.projects-description p {
  width: 115%;
  color: var(--almond);
  margin-left: -15%;
  padding: 4% 5%;
  z-index: 100;
  background-color: var(--burnt);
}
.projects-description h4 {
  font-size: 100%;
}
.projects-links a {
  margin: 0 2%;
}
.projects-skills {
  color: var(--melon);
}
/* ------------------------------ Footer Section ------------------------------- */
.footer {
  padding: 1.5% 0;
  background-color: var(--burnt);
  text-align: center;
  font-size: 70%;
}
.footer h4 {
  color: var(--raisin);
  text-decoration: underline;
}
@media only screen and (max-width: 640px) {
  * {
    font-size: 0.92em;
  }
  .min-width {
    width: 99%;
    margin: 0 auto;
  }
  .logo {
    flex: .8;
    font-size: 3em;
  }
  nav {
    flex: 1;
  }
  .hero_section p {
    width: 100%;
  }
  .about_me .details {
    flex-direction: column-reverse;
    font-size: 110%;
  }
  .image_container {
    width: 80%;
    margin: 5% auto;
  }
  .work-experience {
    flex-direction: column;
  }
  .job-list {
    display: flex;
    text-wrap: nowrap;
    overflow-x: scroll;
    flex-direction: row;
  }
  .job-item {
    padding: 3%;
    border: none;
  }
  .job-description {
    display: flex;
    flex-direction: column;
  }
  .job-description li {
    font-size: 1.5em;
  }
  .projects {
    flex-direction: column;
  }
  .projects a {
    margin: 5% 0;
  }
  .projects a:nth-child(even) {
    background-color: var(--almond);
  }
  .projects img {
    mix-blend-mode: normal;
  }
  .projects-description p {
    width: 100%;
    color: var(--almond);
    margin-left: 0;
    background-color: var(--burnt);
  }
}
