@import "tailwindcss";

@theme {
  --color-primary: #0EA5E9;
  --color-secondary: #14B8A6;
  --color-background: #E3F0F6 ;
  --color-background-2: #F1F5F8 ;
  --color-tertiary: #0284C7;
}

h2{
  font-size: 200%;
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: underline var(--color-secondary);
}
h3 {
  font-size: 130%;
  font-weight: bold;
}
h4 {
  font-size: 120%;
  font-weight: bold;
}
section {
  min-height: 90dvh;
  padding-inline: 5%;
  padding-block: 2%;
}